<!-- Seção de Envio de Convites -->
 <mat-card class="convite-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>mail</mat-icon>
      Gerar Convite
    </mat-card-title>
    <mat-card-subtitle>
      Gere e envie um link único de convite
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="conviteForm" (ngSubmit)="enviarConvite()">
      <div class="form-row">
        <mat-checkbox style="padding-bottom: 0.5em;" [formControl]="afilhado">Afilhado</mat-checkbox>
        <div style="padding-bottom: 1em;">
          <div *ngIf="afilhado.value ; else elseBlock">
            <span>Selecione Padrinho</span>
          </div>
          <ng-template #elseBlock>
            <div>
              <span>Selecione Encontrista</span>
            </div>
          </ng-template>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select formControlName="padrinho_id">
            <mat-option *ngFor="let casal of listaCasais" [value]="casal.id">
              {{ casal.nome_esposo}} e {{ casal.nome_esposa }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="conviteForm.get('padrinho_id')?.invalid && conviteForm.get('padrinho_id')?.touched">
            Selecione um casal
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-actions">
        <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" mat-dialog-close [disabled]="conviteForm.invalid || enviandoConvite">
          <mat-spinner diameter="20" *ngIf="enviandoConvite"></mat-spinner>
          <mat-icon *ngIf="!enviandoConvite">send</mat-icon>
          <span *ngIf="!enviandoConvite">Gerar URL</span>
          <span *ngIf="enviandoConvite">Gerando...</span>
        </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>