<!-- Seção de Envio de Convites -->
<mat-card class="convite-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>group_add</mat-icon>
      Registra Inscrição
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="conviteForm" (ngSubmit)="inscreverCasal()">
      <div class="form-row">
        <mat-checkbox style="padding-bottom: 0.5em;" (change)="changeAfilhado()">Afilhado</mat-checkbox>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Selecione Casal</mat-label>
        <mat-select formControlName="casal_id">
          <mat-option *ngFor="let casal of listaCasais" [value]="casal.id">
            {{ casal.nome_esposo }} e {{ casal.nome_esposa }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="conviteForm.get('casal_id')?.invalid && conviteForm.get('casal_id')?.touched">
          Selecione um casal
        </mat-error>
      </mat-form-field>

      <div class="form-row" *ngIf="afilhado"  style="padding-top: 0.5em;">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Selecione Padrinho</mat-label>
          <mat-select formControlName="padrinho_id">
            <mat-option *ngFor="let casal of listaCasais" [value]="casal.id">
              {{ casal.nome_esposo }} e {{ casal.nome_esposa }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="conviteForm.get('padrinho_id')?.invalid && conviteForm.get('padrinho_id')?.touched">
            Selecione um casal padrinho
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <mat-card-actions>
          <button mat-raised-button class="btn-fechar" style="margin-right: 1em;" mat-dialog-close>
            <mat-icon>close</mat-icon>Fechar
          </button>
          <button mat-raised-button color="primary" type="submit" mat-dialog-close
            [disabled]="conviteForm.invalid || enviandoConvite">
            <mat-icon *ngIf="!enviandoConvite">add</mat-icon>
            <span *ngIf="!enviandoConvite">Adicionar</span>
            <span *ngIf="enviandoConvite">Gerando...</span>
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>